body {
  background: black;
  color: white;
}

.sim {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sim-container {
  position: relative;
  height: calc(100vh - 80px);
  
}

#background {
  position: absolute; left: 0; top: 0; 
  z-index: 0;
  
}
#controls {
  position: absolute;
  bottom: 30%;
  left: 0;
  z-index: 3;
}
#foreground {
  position: absolute; left: 0; top: 0; 
  z-index: 1;
}

#text {
  position: absolute; left: 0; top: 0; 
  z-index: 2;
}